# Salin jadi .env lalu sesuaikan. Jangan commit .env ke GitHub.

DB_SERVER=localhost
DB_PORT=1433
# Login KHUSUS tugas ini (beda dari praktikum_user di hands-on, biar gak numpuk akun)
DB_USER=
DB_PASSWORD=
DB_NAME=review_kantin

DB_ENCRYPT=false
DB_TRUST_SERVER_CERTIFICATE=true
